// Imports

    @import "../global_style/global.scss";
    @import "../global_style/global_project.scss";

//


// ISS Position

    #iss_position {
        margin: 10vh auto;
        text-align: center;

        p {
            padding: 3vh;
        }
    }

//